.LearnMoreLogo{
    align-items: center;
    height: 10vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.learnMoreHeading{
    text-align: center;
    font-size: 4vw;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.learnMoreContent{
    padding: 0px 50px 0px 50px;
    font-size: 1vw;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.bizSafeLogo{
    margin-left: auto;
    height: 5vh;
    width: 10vw;
    float:right!important;
}

@media (max-width: 800px) {
    .learnMoreContent{
        padding: 0px 6px 0px 6px;
        font-size: 3vw;
        font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}