.LearnMoreLogo{
    align-items: center;
    height: 10vh;
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.learnMoreHeading{
    text-align: center;
    font-size: 3vw;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.learnMoreContent{
    padding: 0px 50px 0px 50px;
    font-size: 1vw;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.bizSafeLogo{
    margin-left: auto;
    height: 5vh;
    width: 10vw;
    float: right;
}
.closeBtn {
    background-color: white;
    outline: none;
    cursor: pointer;
    border: 4px solid black;
    color: black;   
    font-size: 1.2em;
    padding: 15px 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    letter-spacing: 2px;
    margin-top: 3vh;
  }
@media (max-width: 768px) {
    .learnMoreContent{
        padding: 0px 6px 0px 6px;
        font-size: 3vw;
        font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .LearnMoreLogo{
        width: 40vw;
    }
    .learnMoreHeading{
        font-size: 5vw;
    }
}