.contactMain {
  height:70vh;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:black;
}


.contactCont{
  /* background: red; */
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}

.sendMessDiv{
  background:#e7e7e7;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}

.form-control{
  /* border: 1px solid #000000 !important; */
}

.contactUsheading{
  padding-bottom: 7vh;
  text-align: center;
}

.sendamessage{
  /* text-align: center; */
  /* padding-bottom: 5vh; */
}

.mapHolder{
  padding: 20vh;
  max-width: 70vw;
  max-height: 70vh;
}

.mapContainer{
  padding: 20vh;
}

.iconRow{
  text-align: center;
  font-weight: 700;
}

.iconHead{
  padding-top: 3vh;
}

/* .ptext{
  position:absolute;
  top:50%;
  width: 100%;
  text-align:center;
  color:#000;
  font-size:2vw;
  letter-spacing:8px;
  text-transform:uppercase;
} */


.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
}



