.contactMain {
  height:70vh;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:black;
}


.contactCont{
  /* background: red; */
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.form-control{
  /* border: 1px solid #000000 !important; */
}

.sendamessage{
  /* text-align: center; */
  padding-bottom: 5vh;
}

.mapHolder{
  padding: 20vh;
  max-width: 70vw;
  max-height: 70vh;
}

.mapContainer{
  padding: 20vh;
}

/* .ptext{
  position:absolute;
  top:50%;
  width: 100%;
  text-align:center;
  color:#000;
  font-size:2vw;
  letter-spacing:8px;
  text-transform:uppercase;
} */



