.no-body-scroll{
  overflow: hidden !important;
}

.AboutMain{
  height:100vh;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:black;
  /* overflow: scroll;
  position: fixed; */
}

.ptext-aboutMessage{
  top: 70%;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-size: 1.5em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  /* font-weight: bold; */
  line-height: 50px;
  background: white;
  border-radius: 25px;
  color: black;
  padding: 50px 30px 50px 30px;
}

.about-heading{
  position:absolute;
  top:50%;
  width: 100%;
  text-align:center;
  color:#000;
  font-size:2vw;
  letter-spacing:8px;
  text-transform:uppercase;
}

.about-heading .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.my-header-main{
  font-size: 3em;
  /* text-decoration: underline; */
  text-transform: uppercase;
  /* border: 40px solid black; */
  width: 80%;
  margin-left: 10%;
  /* float: right; */
  height: 7vh;
  line-height: 12vh;
  /* border-width: 53px; */
  padding: 10px;
  font-weight: 900;
  letter-spacing: 4PX;
}

.my-header-sub{
  font-size: 3em;
  /* text-decoration: underline; */
  text-transform: uppercase;
  /* border: 40px solid black; */
  width: 80%;
  margin-left: 10%;
  /* float: right; */
  height: 7vh;
  line-height: 6vh;
  /* border-width: 53px; */
  padding: 10px;
  font-weight: 900;
  letter-spacing: 4PX;
}

@media(max-width:768px){
  .my-header-main{
    font-size: 6vw;
    /* text-decoration: underline; */
    text-transform: uppercase;
    /* border: 40px solid black; */
    width: 80%;
    margin-left: 10%;
    /* float: right; */
    height: 7vh;
    line-height: 9vh;
    /* border-width: 53px; */
    padding: 10px;
    font-weight: 900;
    letter-spacing: 4PX;
  }
  
  .my-header-sub{
    font-size: 6vw;
    /* text-decoration: underline; */
    text-transform: uppercase;
    /* border: 40px solid black; */
    width: 80%;
    margin-left: 10%;
    /* float: right; */
    height: 7vh;
    line-height: 5vh;
    /* border-width: 53px; */
    padding: 10px;
    font-weight: 900;
    letter-spacing: 4PX;
  }

  .ptext-aboutMessage{
    font-size: 3.5vw;
    padding:0px;
  }  
}

.leftCard{
  display: inline-block;
  background: tomato;
  padding: 5px;
  width: 500px;
  height: 500px;
  margin-top: 10px;
  margin: 50px;
  
}








/* can remove later */
.AboutBase {
  /* margin-top: 100px; */
  margin-bottom: 100px;
  margin-left: 5% ;
  margin-right: 5% ;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.5em;
  color:black
  ;
}
/* @import url('compass/css3'); */

.flex-container {
  padding: 10px;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  }

  
.flex-item-q {
  background: blue;
  padding: 5px;
  width: 600px;
  height: 150px;
  margin-top: 10px;
  
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  }