.section-hidden{
    display: none;
}

.LearnMore {
    background-color: white;
    outline: none;
    cursor: pointer;
    border: 4px solid black;
    color: black; 
    letter-spacing: 4px;  
    font-size: 1em;
    padding: 15px 30px;
    border-radius: 10px;
  }

  .cardMain{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    background:lightgray;
    top: 10%;
    padding: 2%;
  }

  .ptext-cardcontent{
    position: absolute;
    top: 20%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 1.5em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    /* font-weight: bold; */
    line-height: 50px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    color: black;
    font-weight: 900;
    padding: 10px 30px 10px 30px;
  }

  @media(max-width:768px){
    .ptext-cardcontent{
      font-size: 4vw;
      line-height: 30px;
      padding: 1px 5px 17px 5px;
    }  
  }